# App Environment (dev|prod)
APP_ENV=dev

# GCP Configuration
GCP_PROJECT_ID=mi-proyecto

# Model Bucket Configuration
MODEL_BUCKET=model
MODEL_PREFIX=
MODEL_ONNX_BLOB=model_quantized.onnx

# Test Data Configuration
TEST_DATA_BUCKET=data-test
TEST_DATA_BLOB=goemotions_test.jsonl

# Predictions/Logging Configuration
PREDICTIONS_BUCKET=predictions

# Model Inference Thresholds
PROB_THRESHOLD=0.5
METRIC_THRESHOLD=0.40
